.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.textCont{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 300px;
}

.label{
    font-size: larger;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .container{
        flex-direction: row;
    }
    .textCont{
        margin-top: 0;
        margin-left: 10px;
        text-align: left;
        max-width: 200px;
        align-items: flex-start;
    }
}