.container {
  width: 100%;
  height: 100%;
}
.mobileNav {
  display: none;
}
.webNav {
  background-color: white;
  height: 100vh;
  width: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.insideWeb {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sectionElem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 50px;
}
.contactDetail {
  position: absolute;
  transform: translateX(0%);
  padding: 0.5rem;
  background-color: #b3b3b3;
  color: black;
  font-weight: 500;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.iconPhone:hover .contactDetail {
  visibility: visible;
  opacity: 1;
  transform: translateX(60%);
}

.iconEmail:hover .contactDetail {
  visibility: visible;
  opacity: 1;
  transform: translateX(60%);
}

.iconPhone,
.iconEmail {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger {
  background-color: white;
  color: black;
}
.lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.elem {
  transition: transform 0.5s ease-out;
  transform: translateY(100%);
}
@media screen and (max-width: 768px) {
  .webNav {
    display: none;
  }
  .mobileNav {
    display: flex;
    height: 70px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
