.container {
  width: 100%;
  height: 100%;
}
.mobileNav {
  display: none;
}
.webNav {
  background-color: yellow;
  height: 100vh;
  width: 30vh;
  flex-direction: column;
  justify-content: ce;
  align-items: center;
}
.insideWeb {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sectionElem {
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  color: black;
}
.contactDetail {
  position: absolute;
  transform: translateX(0%);
  padding: 0.5rem;
  background-color: #333;
  color: white;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.iconPhone:hover .contactDetail {
  visibility: visible;
  opacity: 1;
  transform: translateX(60%);
}

.iconEmail:hover .contactDetail {
  visibility: visible;
  opacity: 1;
  transform: translateX(60%);
}

.iconPhone,
.iconEmail {
  background-color: aqua;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
